# Data Wrangling
---
## Data Acquisition and Data Preparation

__Learning Objectives__:
1. Learn efficient and effective workflow for data acquisition
>- Understand why `.py` files and jupyter notebooks are used together in practice.
>- How to use `.py` files in data acquisition
>- Best practices when going through the data science workflow.
1. Practice querying a database using `SQL` and `Pandas`
1. Learn what to look for in your data during data acquisition/preparation.
1. Practice cleaning data to use for EDA and Data Modeling
1. Apply and reinforce concepts using these datasets:
- `mall_customers`
- `employees`
- `sakila`
- `world`

### Data Acquisition Prerequisites
---
These datasets are in a SQL database. To access them, I'll need a few things.


<div class="alert alert-block alert-danger">Attention Practitioner! "Check for your keys, phone, and wallet BEFORE you leave the house! Before you start acquiring data, know EXACTLY what you need from a database/dataset: Database name, database table, columns, filters for subsets of data, etc. If you don't, you'll waste time. Be effective the FIRST time, planning goes a long way."</div>

__Tools__:
1. jupyter notebook
1. SQL GUI
1. SQL Programming Language
1. Python Programming Language
1. Pandas Library

__Data Acquisition Setup__:
1. SQL database access credentials.
1. The name of the database.
1. The name of the table inside the database.
1. The data I need from that table(s).
1. The SQL query to retrieve that data.
1. The code to load the data in our local environment.
1. How to save data from a database in a local environment.
1. How to load the data from our local environment.

> Some steps will take longer/short than others, but practice them all.

### Data Preparation Prerequisites
---
These datasets are in a SQL database. To access them, I'll need a few things.


<div class="alert alert-block alert-danger">Attention Practitioner! Before you start preparing your data, know EXACTLY what actions you need to take: shaping data, removing nulls, filling missing values, casting datatypes, encoded variables, formatting row/column/value names, etc. If you don't, you'll waste time. Again, be effective the FIRST time, planning goes a long way."</div>

__Tools__:
1. jupyter notebook
1. Python Programming
1. Pandas Library

__Data Preparation Setup__:
1. Use pandas data manipulation functions to take a _"first read through"_ of your data.

Essential `pandas` functions:
- `.info()`
- `.describe()`
- `.head`
- `.value_counts`
- `.select_dtypes`
> Some steps will take longer/short than others. Practice them all. Your 4th dimension self says "_Thank you_".
>
> Let's get after it.

In [13]:
# Import pandas and connect to database with access credentials
# to begin data acquisition.
import pandas as pd

import env
from acquire import get_connection

# `mall_customers` dataset
---
- Data Acquisition
1. Return __all rows__ from the `customers table` in the `mall_customers` database.
    - No specifics, just acquire the data.

- Data Preparation

### Data Acquisition

```python
# Prebuilt function to connect to a SQL database.

# Database with the name `mall_customers` is accessed.
connection = get_connection('mall_customers')

# Data from the table `customers` table is returned.
sql_query = 'select * from customers;'

# Use pandas to send the connection with 'order instructions' 
# to return all data from the `customers` table in the 
# `mall_customers` database.
df_mall_customers = pd.read_sql(sql=sql_query, con=connection)
```

```python
# Sweet. After the data is loaded into your notebook,
# SAVE IT To your local environment.

# Only run this code once. It will create a CSV file of the
# `customers` table in your current working directory.

df_mall_customers.to_csv('mall_customers.csv', index=False)
```

In [14]:
# Load in a local copy of customers data from the mall_customers db.
df_mall_customers = pd.read_csv('mall_customers.csv')

#### The most important part of the Data Science Pipeline - Know your data
Essential `pandas` functions:
- `.shape`
- `.info()`
- `.describe()`
- `.head()`
- `.nunique()`
- `.column_name.value_counts()`
- `.select_dtypes()`

### `DataFrame.shape`
---
`DataFrame.shape` is like picking up a book and flipping through to the last page to see how pages the book contains.
>Oh the days when I _loathed_ AP English.

Here we see that our mall customer data has a shape of (200, 5).
> Great! What does it _mean_?!

It means that the data has:
- 200 rows/observations/records and
- 5 columns/attributes/features.
[One column could be a __target/prediction value__ :)]

In [19]:
df_mall_customers.shape

(200, 5)

### `DataFrame.head()`
---
When you use `.head()` this is like reading the cover flap of a book. 
1. First look at every column name to understand what your data is about.
> At first glance I see that this data contains information about a customers `gender`, `age`, `annual_income` (in thousand), and a `spending_score` for that customer. Each customer has a unique customer_id to identify them.
1. Look the first rows of your data to understand what values each column contains.
> `customer_id`, `age`, `annual_income`, and `spending_score` contain numeric values.
>
> `gender` is a category with a binary sex of Male/Female.

<div class="alert alert-block alert-info">Know the story behind your data before you begin using it! If the data doesn't come with documentation do your best to see the big picture.</div>

<div class="alert alert-block alert-success">Data Prep Notes:
    
1. Add an encoded column for `gender` as `is_female` that has integer values 0 and 1.</div>

In [7]:
df_mall_customers.head()

   customer_id  gender  age  annual_income  spending_score
0            1    Male   19             15              39
1            2    Male   21             15              81
2            3  Female   20             16               6
3            4  Female   23             16              77
4            5  Female   31             17              40

### `DataFrame.info()`
---
When you use `.info()` you're looking at:
1. The length of the data, which is 200 observations
1. The column index and the column name at that index.
1. The number of __non-null__ values in a column
1. The data type of the column.


1. First look at every column name to understand what your data is about.
> At first glance I see that this data contains demographics about a customers `gender`, `age`, `annual_income`, and a `spending_score` for that customer. Each customer has a unique `customer_id` to identify them.
1. Look at the first rows of your data to understand what values each column contains.
> `customer_id`, `age`, `annual_income` (in thousands), and `spending_score` contain numeric values.
>
> `gender` is a category with a binary sex of Male/Female.

<div class="alert alert-block alert-info"> The Dtype column is our first glance to see if the data is the correct Dtype. If the data is not the correct Dtype, we <strong>make note</strong> of whether we need to cast values, or create a new column of encoded values. This will guide us in our data preparation stage.</div>

>Try to preserve as much of the original dataframe as possible. Instead of altering columns inplace, like `gender`, create a separate column called `is_female` that holds binary values 0 and 1. 0 for Male and 1 for Female. This is an awesome best practice I learned from my mentors at Codeup.

<div class="alert alert-block alert-success">Data Prep Notes:
    
1. Add an encoded column for `gender` as `is_female`.
> `gender` column is an object dtype column with string values. We can leave it as it for data visualization purposes. We can drop the column in Data Modeling.
</div>

In [4]:
df_mall_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     200 non-null    int64
 1   gender          200 non-null    object
 2   age             200 non-null    int64
 3   annual_income   200 non-null    int64
 4   spending_score  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

### `DataFrame.describe()`
---
When you use `.describe()` on your data, you get summary statistics of your numeric columns. In this case: `customer_id`, `age`, `annual_income`, `spending_score`.

1. The first three rows: `count`, `mean`, `std` give you information about the __location__ and __variability__ of the data.

A practitioner's way of saying:
- `count` - The number of non-missing/non-zero values in a column.
- `mean` - The average value of values in a column.
- `std` - The square root of the sum of squared deviations from the `mean`.

2. The rows `min`, `25%`, `50%`, `75%`, `max` - describe the dispersement of values in a column. These are __quartiles__ of the data.
> I personally like working with quartiles because they tell me what percentage of the values fall below a certain value. It's like reading a book before you watch the movie using graphs.
>
>`Huh, graphs are the translation of numbers into an intelligible form we humans can understand. With our eye balls. Lil' happy data pictures.` - `Christopher Ortiz 2020`

<div class="alert alert-block alert-info">We can see the `range` of the data as well by taking the `max` number minus the `min` value.</div>

In [10]:
df_mall_customers.describe()

       customer_id         age  annual_income  spending_score
count   200.000000  200.000000     200.000000      200.000000
mean    100.500000   38.850000      60.560000       50.200000
std      57.879185   13.969007      26.264721       25.823522
min       1.000000   18.000000      15.000000        1.000000
25%      50.750000   28.750000      41.500000       34.750000
50%     100.500000   36.000000      61.500000       50.000000
75%     150.250000   49.000000      78.000000       73.000000
max     200.000000   70.000000     137.000000       99.000000

### The Triple Threat in any Data Science practitioner's tool belt.
- `DataFrame.nunique()` 
- `DataFrame.column_name.value_counts()`
- `DataFrame.select_dtypes()`

`DataFrame.nunique()` 
---
`DataFrame.nunique()` is a **_powerful_** function. It allows us to see the number of unique values in our data.

Use `.nunique()` on the _entire_ DataFrame.

> `.nunique()` returns the number of unique values in each column.

|column name|# of unique values|
|:---|---:|
|`customer_id`|200|
|`gender`|2|
|`age`|51|
|`annual_income`|64|
|`spending_score`|84|

In [20]:
df_mall_customers.nunique()

customer_id       200
gender              2
age                51
annual_income      64
spending_score     84
dtype: int64

## `DataFrame.column_name.value_counts()`
---
`DataFrame.column_name.value_counts()` is useful when looking at `categorical`/`ordinal` data.

Here we see that there are 112 Female customers and 88 male customers.

In [23]:
df_mall_customers.gender.value_counts()

Female    112
Male       88
Name: gender, dtype: int64

We can use the `normalize=True` parameter to see the percentage of each gender.

In [26]:
# 56% Female
# 44% Male

df_mall_customers.gender.value_counts(normalize=True)

Female    0.56
Male      0.44
Name: gender, dtype: float64

For columns with more than 10-15 unique values, do not use .value_counts(). For example:

In [24]:
df_mall_customers.customer_id.value_counts()

200    1
63     1
73     1
72     1
71     1
      ..
131    1
130    1
129    1
128    1
1      1
Name: customer_id, Length: 200, dtype: int64

What did you learn? I learned absolutely _nothing_. Why?

There are 200 unique values, value counts returns a series of each unique value with a count of 1. We already knew this when we first used `.info()`.

<div class="alert alert-block alert-info">This is our first dataset set so I'm being as detailed as possible. The remaining datasets will be practice.</div>

###### Data Acquisition Analysis
<div class="alert alert-block alert-success">Data Prep Notes:
    
1. Add an encoded column for `gender` as `is_female`.
> `gender` column is an object dtype column with string values. We can leave it as it for data visualization purposes. We can drop the column in Data Modeling.
1. Drop `customer_id` column in data modeling. It is a range index from 1 - 200. Keep the column only if you need to map each customer back to their original data.
</div>

### Data Preparation

In [27]:
df_mall_customers.head()

   customer_id  gender  age  annual_income  spending_score
0            1    Male   19             15              39
1            2    Male   21             15              81
2            3  Female   20             16               6
3            4  Female   23             16              77
4            5  Female   31             17              40

In [30]:
df_mall_customers['is_female'] = (
    df_mall_customers.gender == 'Female'
).astype('int')

<div class="alert alert-block alert-success">Data Prep Notes:
    
1. [x] Add an encoded column for `gender` as `is_female`.
>Optional: Rearrange columns so that `is_female` is right after `gender`.
    
> Optional:
>
> 1. `gender` column is of object dtype that contains string values. We can leave it as it for data visualization purposes. We can drop the column in Data Modeling.
>
> 1. Drop `customer_id` column in data modeling. It is a range index from 1 - 200. Keep the column only if you need to map each customer back to their data.
</div>

In [34]:
df_mall_customers = df_mall_customers[[
    'customer_id',
    'gender',
    'is_female',
    'age',
    'annual_income',
    'spending_score'
]]

In [35]:
df_mall_customers.head()

   customer_id  gender  is_female  age  annual_income  spending_score
0            1    Male          0   19             15              39
1            2    Male          0   21             15              81
2            3  Female          1   20             16               6
3            4  Female          1   23             16              77
4            5  Female          1   31             17              40

## Putting the pieces together
#### Create a function for reproduction and transfer it to a `.py` file.

Why should I create a .py file?
Why should I write a docstring?
Why? Why? Why?

__DRY__ which stands for don't repeat yourself

In [54]:
def prep_mall_data(df):
    '''
    Accepts the `customers` DataFrame from the `mall_customers` database
    Returns a wrangled data ready for EDA.
    
    Drop: customer_id and gender before you split the data for machine
    learning. The algos like numbers, not strings.
    '''
    df['is_female'] = (df.gender == 'Female').astype('int')
    
    df = df[[
    'customer_id',
    'gender',
    'is_female',
    'age',
    'annual_income',
    'spending_score'
    ]]
    
    return df

In [55]:
# Load in a fresh local copy of customers data.
df_mall_customers = pd.read_csv('mall_customers.csv')

In [56]:
df_mall_customers.head()

   customer_id  gender  age  annual_income  spending_score
0            1    Male   19             15              39
1            2    Male   21             15              81
2            3  Female   20             16               6
3            4  Female   23             16              77
4            5  Female   31             17              40

In [57]:
prep_mall_data(df_mall_customers)

     customer_id  gender  is_female  age  annual_income  spending_score
0              1    Male          0   19             15              39
1              2    Male          0   21             15              81
2              3  Female          1   20             16               6
3              4  Female          1   23             16              77
4              5  Female          1   31             17              40
..           ...     ...        ...  ...            ...             ...
195          196  Female          1   35            120              79
196          197  Female          1   45            126              28
197          198    Male          0   32            126              74
198          199    Male          0   32            137              18
199          200    Male          0   30            137              83

[200 rows x 6 columns]

Yay it works!

Let's put it in a file called `prepare.py`

In [58]:
# Test our function that's in our `prepare.py` file by importing it.
from prepare import prep_mall_data

In [59]:
# Load in a fresh local copy of customers data.
df_mall_customers = pd.read_csv('mall_customers.csv')

In [60]:
prep_mall_data(df_mall_customers)

     customer_id  gender  is_female  age  annual_income  spending_score
0              1    Male          0   19             15              39
1              2    Male          0   21             15              81
2              3  Female          1   20             16               6
3              4  Female          1   23             16              77
4              5  Female          1   31             17              40
..           ...     ...        ...  ...            ...             ...
195          196  Female          1   35            120              79
196          197  Female          1   45            126              28
197          198    Male          0   32            126              74
198          199    Male          0   32            137              18
199          200    Male          0   30            137              83

[200 rows x 6 columns]

###### Data Preparation Analysis
<div class="alert alert-block alert-success">Data Prep Notes:
    
1. [x] Add an encoded column for `gender` as `is_female`.
>
>Optional: Rearrange columns so that `is_female` is right after `gender`
    
> Optional:
>
> 1. `gender` column is of object dtype that contains string values. We can leave it as it for data visualization purposes. We can drop the column in Data Modeling.
>
> 1. Drop `customer_id` column in data modeling. It is a range index from 1 - 200. Keep the column only if you need to map each customer back to their data.
</div>

# `employees` dataset
---
- Data Acquisition
- Data Preparation

### Data Acquisition

__Data Acquisition Setup__:

- [x] SQL database access credentials.
- [x] The name of the database: `employees`
- [x] The data I need:

> All data from the `employees` table where:
> 1. Employees have an A in their name: first and/or last
> 1. Born in 1952
> 1. Work in `Research` or `Development` departments
> 1. Current salary is $60,000+

- [x] The name of the table(s) where we can get the data:
> `employees`
>
> `employees_with_departments`
>
> `salaries`



- [x] The SQL query to retrieve that data.
- [x] The code to load the data in our local environment.
- [ ] How to save data from a database in a local environment.
- [ ] How to load the data from our local environment.

In [61]:
sql_query = '''
select e.emp_no,
    birth_date,
    e.first_name,
    e.last_name,
    gender,
    hire_date,
    emp_with_dept.dept_name,
    s.salary
from employees as e
join employees_with_departments as emp_with_dept on e.emp_no = emp_with_dept.emp_no
join salaries as s on e.emp_no = s.emp_no
where s.to_date > curdate()
and s.salary >= 60000
and (e.first_name like 'a%' or 'A%' or '%a'
or e.last_name like 'a%' or 'A%' or '%a')
and year(birth_date) = 1952
and dept_name in ('Development', 'Research')
order by emp_no;
'''

In [65]:
df = pd.read_sql(sql=sql_query, con=get_connection('employees'))

Save data locally
```python
df.to_csv('research-dev-employees.csv', index=False)
```

In [68]:
df.shape

(428, 8)

In [69]:
df.head()

,emp_no,birth_date,first_name,last_name,gender,hire_date,dept_name,salary
0,10826,1952-12-06,Arnd,Anandan,M,1993-01-22,Development,79304
1,11810,1952-12-08,Amabile,Bhattacharjee,M,1987-03-17,Development,64329
2,11911,1952-07-08,Ashish,Mondadori,M,1990-06-05,Development,64785
3,12589,1952-11-23,Anoosh,Chleq,M,1988-09-08,Development,86236
4,12662,1952-08-02,Leucio,Alvarado,M,1985-08-27,Development,106235

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 428 entries, 0 to 427
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   emp_no      428 non-null    int64
 1   birth_date  428 non-null    object
 2   first_name  428 non-null    object
 3   last_name   428 non-null    object
 4   gender      428 non-null    object
 5   hire_date   428 non-null    object
 6   dept_name   428 non-null    object
 7   salary      428 non-null    int64
dtypes: int64(2), object(6)
memory usage: 26.9+ KB

In [71]:
df.describe()

              emp_no         salary
count     428.000000     428.000000
mean   237353.039720   75000.810748
std    158582.764014   11724.016193
min     10826.000000   60047.000000
25%     81149.000000   66235.250000
50%    233831.000000   71841.500000
75%    413489.250000   81849.250000
max    499559.000000  117568.000000

###### Data Acquisition Analysis
1. 
1. 
1. 

### Data Preparation

###### Data Preparation Analysis
1. 
1. 
1.

# `sakila` dataset
---
- Data Acquisition
- Data Preparation

### Data Acquisition

###### Data Acquisition Analysis
1. 
1. 
1. 

### Data Preparation

###### Data Preparation Analysis
1. 
1. 
1.

# `world` dataset
---
- Data Acquisition
- Data Preparation

### Data Acquisition

###### Data Acquisition Analysis
1. 
1. 
1. 

### Data Preparation

###### Data Preparation Analysis
1. 
1. 
1. 

# Summary TIL, TIP